<div class="middle-header-area">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12">
                <div class="middle-header">
                       <div class="nav-logo-bar">
                        <a routerLink="/">
                            <img src="https://static.wixstatic.com/media/0a2f17_d3f2461c9939450aa1e1ed719cc9c80e~mv2.png/v1/fill/w_71,h_71,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/DSL_Logo_transperant.png">
                        </a>
                      <div class="nav-logo-bar-2">  <h3>DOTT SERVICES LIMITED</h3>
                        <p>EPC Contractors & Infrastructure Project Developers, Mine Developer and Operator</p>
                        <p class="iso">ISO 9001, ISO 14001 and ISO 45001 Certified Company</p>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 " id="navbars">
            <div id="navbars">
                <a href="">Home</a>
                <a href="">About Us</a>
                <a href="">Services</a>
                <a href="">Contact Us</a>
            </div>
            </div>
            <div class="col-lg-2 col-md-12">
                <div style="padding-left: 20px;">
                    <img style="border-radius: 50%;border: 2px solid rgba(207, 57, 77, 0.815);" src="https://static.wixstatic.com/media/0a2f17_5112a57b94354dfb82471fc87d746286~mv2.png/v1/fill/w_102,h_98,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/DOTT%20SERVICES%2028%20plus%20LOGO-01_edited.png" alt="">
                </div>
                </div>
          
            <!-- <div class="col-lg-8 col-md-12">
                <ul class="middle-header-content ">
                    <li>
                         <p class="iso">ISO 9001, ISO 14001 and ISO 45001 Certified Company</p>
                        <i class="flaticon-039-emergency-call"></i>
                        Call Today
                        <span><a href="tel:088123654987">(+256) 701700916</a></span>
                    </li>
                    <li>
                        <i class="flaticon-040-back-in-time"></i>
                        Open Hour
                        <span>Monday - Saturday: 09:00-18:00</span>
                    </li>
                </ul>
            </div> -->
            
        </div>
    </div>
</div>