<div class="main-banner-item">
    <div class="container-fluid">
        <div class="row align-items-center ms-0 me-0">
            <div class="col-lg-12 col-md-12 ps-0 pe-0">
               <div class="ranked-box">
                <div class="ranked-box-1">
                <h1  style="text-align: center;padding-top: 10PX;color: white;"
                ><span style="color: white;font-size: 35px;">R</span>anked</h1>
                   <h1 style="padding-left: 60PX; color: white;">Best Local Construction Company</h1> 
                   <h1 style="text-align: center ;color:white;"> in UGANDA</h1>
                    <p style="color: white; padding-left: 30px;font-size:15px;line-height:1.9;padding-top:40px">under the Contractor Registration and Classification System (CRSC) carried out jointly by the Ministry of Works and Transport (MoWT) in collaboration with the Public Procurement and Disposal of Public Assets Authority (PPDA).
                        Classification exercise was carried by PwC (PricewaterhouseCoopers)</p>
               </div>
            </div>
            </div>
            <!-- <div class="col-lg-6 col-md-12 ps-0 pe-0">
                <div class="main-banner-content">
                    <span class="sub-title wow">
                        <i class="flaticon-198-hashtag-1"></i>
                        Keeping Bone Stronger
                    </span>
                    <h1 style="color: #ed650af6;">World Class <span style="color: #7e42b3;">Orthopedic <br>Treatments</span> </h1>
                    <p style="font-size: 22px;color: black;font-weight: bold;">
                        Committed to provide orthopedic patients a truly remarkable experience
                    </p>

                    <a routerLink="/appointment" class="default-btn">Book Appointment</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 ps-0 pe-0">



                
               
                <div class="main-banner-image">
                    <owl-carousel-o [options]="servicesSlides">
                        <ng-template carouselSlide>
                            <img src="assets/images/Renee-pics/bandari.jpg">
                            <div class="about-inner-box">
                               
                            
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <img src="assets/images/Renee-pics/corousel-two.jpg">
                            <div class="about-inner-box">
                                <div class="content">
                                    <h3>Ancle Replacement</h3>
                                </div>
                            
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <img src="assets/images/Renee-pics/corousel-three.jpg">
                            <div class="about-inner-box">
                                <div class="content">
                                    <h3>Shoulder Replacement</h3>
                                </div>
                            
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <img src="assets/images/Renee-pics/corousel-four.jpg">
                            <div class="about-inner-box">
                                <div class="content">
                                    <h3>Joint-hip Replacement</h3>
                                </div>
                            
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <img src="assets/images/Renee-pics/corousel-five.jpg">
                            <div class="about-inner-box">
                                <div class="content">
                                    <h3>Total Knee Replacement</h3>
                                </div>
                            
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                    
                </div>
               
            </div> -->
        </div>
    </div>
</div>

<div class="chat_icon">
    <img src="assets/images/Renee-pics/top-2.png" width="1500px" height="150px" alt="image">
</div>

<div class="chatbot-box sag" >
    <div class="text-white" >
        
  
        <img src="assets/images/Renee-pics/bottom.png"  class="close" width="30px" height="30px" alt="image" style="float: right;">
       <h5 class="text-white">Renee Hospital Help Support
    </h5> 

            </div>

    <div id="chatList" >
        <ul>
          
        </ul>

    </div>
<div class="message-box-wrap">
<div class="message-box">
    
</div>

<button id="send">➤</button>

</div>
<form ngNoForm target="_blank"  action="https://formsubmit.co/chikkudu.sagarkumar6129@gmail.com" method="POST">
<div class="admin-client-message-wrap" >
    

    <input type="text" name="name" data-question="What is Your Name" class="admin-message">
    <select name="service" data-question="Which service You want" data-name required>
        <option>Please Select</option>
        <option>Orthopedic</option>
        <option>Knee Replacement</option>
        <option>Bones</option>
    </select>
    <input type="text" name="email" data-question="What is Your Email" >
    <input type="text" name="phone" data-question="What is Your Phone Number">

    <div data-question="Confirm">
        <button type="submit" id="confirm" name="confirm" >Yes</button>
        <button id="notconfirm" name="notconfirm">No</button>

    </div>

<div id="submit_info_form">
    <div class="submit_info"></div>
    <input  type="submit" name="submit" value="Confirm" id="submit">
    </div>

</div>

</form>
</div>

